@model FA.JustBlog.ViewModels.PostCreateVM

@{
    ViewData["Title"] = "Edit Post";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit Post</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@TempData["PostId"]" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meta" class="control-label"></label>
                <input asp-for="Meta" class="form-control" />
                <span asp-validation-for="Meta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriesId" class="control-label"></label>
                <select asp-for="CategoriesId" class="form-control" asp-items="ViewBag.CategoriesId"></select>
                <span asp-validation-for="CategoriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagId" class="control-label"></label>
                <select multiple asp-for="TagId" class="form-select" asp-items="ViewBag.TagsId"></select>
                <span asp-validation-for="TagId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostContent" class="control-label"></label>
                <input asp-for="PostContent" class="form-control editor" />
                <span asp-validation-for="PostContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
