header {
	background-color: rgb(248, 249, 250);
	border: 1px solid #dee2e6;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.header-container h4 {
	margin: 10px 15px;
}

.profile-menu {
	box-sizing: border-box;
	align-self: center;
	color: black;
	margin-right: 15px;
	text-decoration: none;
}

.body-container {
	display: flex;
	box-sizing: border-box;
}

.body-container .sidebar {
	background-color: rgb(248, 249, 250);
	border: 1px solid #dee2e6;
	padding: 0 5px;
}

.sidebar .search-bar {
	padding: 5px 0;
	border-bottom: 1px solid #dee2e6;
}

.sidebar .sidebar-item {
	padding: 12px;
}

.sidebar .sidebar-item a {
	text-decoration: none;
	color: #696a6b;
}

.content {
	padding: 0 12px;
	width: 100%;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.form-header {
	padding: 0.25rem 1.25rem;
	margin-bottom: 0;
	background-color: lightgray;
	border-bottom: 1px solid black;
}

.form-container {
	position: relative;
	/* display: flex; */
	flex-direction: column;
	word-wrap: break-word;
	border: 1px solid black;
	border-radius: .25rem;
}

.form-body  {
	padding: 1.25rem;
}

.content-table {
	padding: 5px;
}

.content-table table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
}

.content-table table thead th{
	text-align: left;
	padding: 3px 0;
}

table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}